body {
    background: linear-gradient(to right, #3498db, #8e44ad);
    color: #fff; /* Set text color to white for better visibility */
    animation: gradientAnimation 10s infinite linear; /* Adjust the duration and other parameters as needed */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#response-text::after {
    content: '...';
    animation: blink 1s infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}

.btn-shake:hover {
    animation: shake 0.5s ease-in-out infinite;
}